

@font-face {
    font-family: 'gothamblack';
    src: url('gotham-black-webfont.woff2') format('woff2'),
         url('gotham-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gothambold';
    src: url('gotham-bold-webfont.woff2') format('woff2'),
         url('gotham-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gothambookitalic';
    src: url('gotham-bookitalic-webfont.woff2') format('woff2'),
         url('gotham-bookitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gothamlight';
    src: url('gotham-light-webfont.woff2') format('woff2'),
         url('gotham-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gothamthin';
    src: url('gotham-thin-webfont.woff2') format('woff2'),
         url('gotham-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gothamthinitalic';
    src: url('gotham-thinitalic-webfont.woff2') format('woff2'),
         url('gotham-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gothamultraitalic';
    src: url('gotham-ultraitalic-webfont.woff2') format('woff2'),
         url('gotham-ultraitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gothamxlight';
    src: url('gotham-xlight-webfont.woff2') format('woff2'),
         url('gotham-xlight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gothamxlightitalic';
    src: url('gotham-xlightitalic-webfont.woff2') format('woff2'),
         url('gotham-xlightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



body {
  background-color: rgba(17, 18, 20, 1);
  margin: 0px;
}

#header {
  color: white;
  text-align: center;
  font-family: 'gothamblack', sans-serif;
  font-size: 50px;
  font-weight: 600;
  text-shadow: 0px 0px 7px #000000;
  background-image: linear-gradient(to bottom, rgba(17, 18, 20, 0), rgba(17, 18, 20, 1)), url(https://i.imgur.com/lXsnIdP.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 5%;
  padding-right: 5%;
}

.page {
  padding-left: 5%;
  padding-right: 5%;
}

#subtitle {
  text-align: center;
  font-family: 'gothambold', sans-serif;
  color: white;
  font-size: 32px;
  padding-top: 50px;
  padding-bottom: 20px;
}

.page {
  padding-bottom: 200px;
}


.button {
  float: left;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  font-size: 100%;
  font-family:Arial;
  width:180px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-width:1px;
  color:rgba(121, 45, 189, 1);
  border-color:rgba(255, 255, 255, 1);
  font-weight:bold;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 0px 10px 14px -7px rgba(121, 45, 189, 1);
  text-shadow: 0px 1px 0px rgba(67, 26, 104, 0);
  background:rgba(255, 255, 255, 1);
  transition: all .9s cubic-bezier(0,.81,.18,1);
}

.button:hover {
  background: rgba(200, 180, 218, 1);
  font-size: 80%;
}

.page span {
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 7.5px;
  padding-top: 7.5px;
  margin: 0 auto;
}

.buttonrow {
  margin: 0 auto;
  display: table;
}

.bottoming {
  position: relative;
  width: 100%;
  height: 230px;
  background-color: rgba(22, 23, 25, 1);
}

.bottomingcontents {
  position: relative;
  padding-top: 180px;
  background-color: rgba(22, 23, 25, 1);
  font-family: gothamlight;
  color: white;
  font-size: 20px;
  text-align: center;

}

.bottomingcontents span {
}

.bottomingmid {
  margin: 0;
  display: table;
}

.profiles {
  margin: auto;
  width: 260px;
  border: 0px solid #FFFF00;
  padding: 10px;
}

.profile {
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 80%;
  text-align: center;
  text-shadow: 0px 0px 7px #000000;
  font-size: 20px;
  font-family: gothambold;
  color: white;
  margin-bottom: 15%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

}

#demo {
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
  font-family: gothamlight;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
}
