@font-face {
    font-family: 'A-OTF Shin Go Pro R';
    font-style: normal;
    font-weight: normal;
    src: local('A-OTF Shin Go Pro R'), url('AOTFShinGoProRegular.woff') format('woff');
}

@font-face {
    font-family: 'A-OTF Shin Go Pro EL';
    font-style: normal;
    font-weight: normal;
    src: local('A-OTF Shin Go Pro EL'), url('AOTFShinGoProExLight.woff') format('woff');
}

@font-face {
    font-family: 'A-OTF Shin Go Pro L';
    font-style: normal;
    font-weight: normal;
    src: local('A-OTF Shin Go Pro L'), url('AOTFShinGoProLight.woff') format('woff');
}

@font-face {
    font-family: 'A-OTF Shin Go Pro M';
    font-style: normal;
    font-weight: normal;
    src: local('A-OTF Shin Go Pro M'), url('AOTFShinGoProMedium.woff') format('woff');
}

@font-face {
    font-family: 'A-OTF Shin Go Pro DB';
    font-style: normal;
    font-weight: normal;
    src: local('A-OTF Shin Go Pro DB'), url('AOTFShinGoProDeBold.woff') format('woff');
}

@font-face {
    font-family: 'A-OTF Shin Go Pro B';
    font-style: normal;
    font-weight: normal;
    src: local('A-OTF Shin Go Pro B'), url('AOTFShinGoProBold.woff') format('woff');
}

@font-face {
    font-family: 'A-OTF Shin Go Pro H';
    font-style: normal;
    font-weight: normal;
    src: local('A-OTF Shin Go Pro H'), url('AOTFShinGoProHeavy.woff') format('woff');
}

a {
    color: rgba(133, 121, 110, 1);
    font-weight: bold;
    text-decoration: none;
    font-family: 'A-OTF Shin Go Pro R', sans-serif;
}

a:hover {
    color: rgba(218, 199, 180, 1);
    text-decoration: none;
}

body {
    background-color: rgba(17, 18, 20, 1);
    margin: 0px;
    font-family: 'A-OTF Shin Go Pro R', sans-serif;
}

#header,
#headerCustom {
    color: white;
    text-align: center;
    font-family: 'A-OTF Shin Go Pro H', sans-serif;
    font-size: 50px;
    font-weight: 600;
    text-shadow: 0px 0px 7px #000000;
    background-image: linear-gradient(
            to bottom,
            rgba(17, 18, 20, 0),
            rgba(17, 18, 20, 1)
    ),
    url(background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 5%;
}

.page {
    padding-left: 5%;
    padding-right: 5%;
}

.subtitle {
  text-align: center;
  font-family: 'A-OTF Shin Go Pro H', sans-serif;
  color: white;
  font-size: 32px;
  padding-top: 50px;
  padding-bottom: 20px;
}

.smalltitle {
    text-align: center;
    font-family: 'A-OTF Shin Go Pro M', sans-serif;
    color: white;
    font-size: 22px;
    padding-top: 15px;
    padding-bottom: 5px;
}

.text {
    text-align: center;
    font-family: 'A-OTF Shin Go Pro R', sans-serif;
    color: white;
    font-size: 17px;
    padding-top: 15px;
    padding-bottom: 5px;
}

input {
    margin: auto;
    display: block;
}

.input {
    text-align: center;
    text-decoration: none;
    font-size: 100%;
    font-family: 'A-OTF Shin Go Pro M', sans-serif;
    width:auto;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    border-width:1px;
    color: rgb(17, 18, 20, 1);
    border-color:rgba(255, 255, 255, 1);
    font-weight:bold;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background:rgba(255, 255, 255, 1);
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

inputtick {
    margin: auto;
    display: block;
}

.inputtick {
    text-align: center;
    text-decoration: none;
    font-size: 100%;
    font-family: 'A-OTF Shin Go Pro M', sans-serif;
    width:auto;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    border-width:1px;
    color: rgb(17, 18, 20, 1);
    border-color:rgba(255, 255, 255, 1);
    font-weight:bold;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background:rgba(255, 255, 255, 1);
}

.page {
  padding-bottom: 200px;
}


.button {
    float: left;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    font-size: 100%;
    font-family: 'A-OTF Shin Go Pro B', sans-serif;
    width:auto;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-width:1px;
    color: rgb(111, 139, 149);
    border-color:rgba(255, 255, 255, 1);
    font-weight:bold;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 0px 10px 14px -7px rgb(111, 139, 149);
    text-shadow: 0px 1px 0px rgba(67, 26, 104, 0);
    background:rgba(255, 255, 255, 1);
    transition: all .9s cubic-bezier(0,.81,.18,1);
}

.button:hover {
    background: rgb(111, 139, 149);
    font-size: 80%;
    color:rgba(255, 255, 255);
}

.page span {
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 7.5px;
  padding-top: 7.5px;
  margin: 0 auto;
}

.buttonrow {
  margin: 0 auto;
  text-align: center;
}

.bottoming {
  position: relative;
  width: 100%;
  height: 230px;
  background-color: rgba(22, 23, 25, 1);
}

.bottomingcontents {
  position: relative;
  padding-top: 180px;
  background-color: rgba(22, 23, 25, 1);
  font-family: 'A-OTF Shin Go Pro R', sans-serif;
  color: white;
  font-size: 20px;
  text-align: center;

}

.bottomingmid {
  margin: 0;
  display: table;
}

.profiles {
  margin: auto;
  width: 260px;
  border: 0px solid #FFFF00;
  padding: 10px;
}



.frame {
    margin: auto;
    width: 360px;
    border: 0px solid #FFFF00;
    padding: 10px;

}

#primogemicon {
    display: inline-block;
    height: 17px;
    width: auto;
}

.img {
    text-align: center;
    max-width: 100%;
}

#instructions {
    text-align: center;
    max-height: 100%;
    max-width: 100%;
    width: 520px;
    border-radius: 20px;
}